@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

html {
  height: 100%;
  overflow: hidden;
}

body {
	font-family: -apple-system, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.anon-pages {
  background-color: #1e2434;
  height: 1100px;  
}

.anon-pages label {
  text-align: left;
}

.is-horizontal-center {
  justify-content: center;
}

.auth-link {
  margin-top: 2%;
}

.auth-link a:hover {
  font-weight: bold;
}