@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

html {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', monospace;
}

.is-horizontal-center {
  justify-content: center;
}

.is-vertical-center {
  align-items: center;
}

.is-vertical-top {
  align-items: flex-start;
}

.is-spaced-around {
  justify-content: space-around;
}

/* ANONYMOUS PAGES */

.anon-pages {
  background-color: #1e2434;
  height: 1000px;   
}

.login-page {
  height: 800px;
}

.anon-pages label {
  text-align: left;
}

.auth-link {
  margin-top: 2%;
}

.auth-link a:hover, .bottom-nav-link a:hover {
  font-weight: bold;
}

/* PRIVATE NAVS */

.bottom-icons {
  color:hsl(204, 86%, 53%);
}

.bottom-nav-link {
  color: hsl(0, 0%, 21%);
  /* padding-top: 20px;
  border-top: 3px solid hsl(0, 0%, 21%); */
}

.searchnav {
  height: 100px;
}

.filters {
  border-bottom: 1px solid #dbdbdb;
}

.filters form {
  margin-bottom: 2%;
}

.search-filters .field {
  margin-right: 2%;
}

.search-filters .select {
  font-size: 0.8rem;
}

.topnav {
  height: 80px;
  padding: 0 5%;
}

.topnav a {
  color: #fff;
}

.topnav a:hover {
  cursor: pointer;
}

.tabs li {
  font-size: 0.8rem;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
}

/* PRIVATE PAGES/COMPONENTS */

.results-list {
  margin-top: 120px;
  margin-bottom: 100px
}

.result-card, .saved-card {
  font-size: 0.6rem;
}

.result-card .column, .saved-card .column {
  width: 20%;
}

.page-body {
  /* width: 80%; */
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 20%;
}

.saved-elements-section, .event-info, .event-body, .map {
  margin-bottom: 10%;
}

.saved-card {
  font-size: 0.9rem;
}

.alumni-header, .event-body, .event-info, .send-mail, .map  {
  margin-top: 10%;
}

.create-actions {
  flex-direction: column;
  padding-top: 10%;
}

.event-info div p {
  margin-bottom: 5%;
}

.social-icons {
  justify-content: space-around;
}

.alumni-info {
  width: 80%;
  font-size: 1.1rem;
  margin: 0 auto;
  margin-top: 8%;
}

.alumni-info div {
  justify-content: space-evenly;
}

.bottom-buttons {
  margin-top: 5%;
  justify-content: space-evenly !important;
}

.alumni-attending {
  justify-content: flex-start;
}

.share  {
  margin-top: 15%;
}


/* color: #32c3ff; */