@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

html {
  height: 100%;
  overflow: hidden;
}

body {
	font-family: -apple-system, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.is-horizontal-center {
  justify-content: center;
}

.is-vertical-center {
  align-items: center;
}

.is-vertical-top {
  align-items: flex-start;
}

.is-spaced-around {
  justify-content: space-around;
}

.anon-pages {
  background-color: #1e2434;
  height: 1100px;  
}

.anon-pages label {
  text-align: left;
}

.auth-link {
  margin-top: 2%;
}

.auth-link a:hover, .bottom-nav-link a:hover {
  font-weight: bold;
}

.bottom-nav-link {
  color: hsl(204, 86%, 53%)
}

.searchnav {
  height: 100px;
}

.filters {
  border-bottom: 1px solid #dbdbdb;
}

.filters form {
  margin-bottom: 2%;
}

.search-filters .field {
  margin-right: 2%;
}

.search-filters .select {
  font-size: 0.8rem;
}

.results-list {
  margin-top: 165px;
  margin-bottom: 100px
}

.result-card, .saved-card {
  font-size: 0.6rem;
}

.result-card .column, .saved-card .column {
  width: 20%;
}

/* .navdirectory {
  margin-top: 50px;
  position: fixed;
  background-color: #fff;
} */
/* .searchfilters, .navdirectory {
  background-color: #fff;
  position: fixed;
} */
/* color: #32c3ff; */